@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: 700;
}
.navbar-collapse ul {
  width: 100vw !important;
}
.unit-input {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.unit-label {
  opacity: 0.75;
  top: 50%;
  right: 10px;
}
.clipboard-toast {
  background-color: rgb(148 163 184) !important;
  right: 16px;
  bottom: 16px;
}

@media (min-width: 768px) {
  .navbar-collapse ul {
    width: 100vw !important;
    display: flex;
    justify-content: space-between;
  }
}
